*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
    display: grid;
    min-height: 100vh;
    background: #1111;
    background-color: black;
    background-image: url("mine.png");
}
.container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 5px;
    margin: 10px;
}
.container .card{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 1.8s ease;
}
.container .card:hover{
background: rgb(117, 0, 58);
}
.container .card h2{
    cursor: pointer;
}
.container .card:nth-child(1){
        grid-column: 1 / 7;
}
.container .card:nth-child(3){
        grid-column: 1 / 4;
}
.container .card:nth-child(4){
        grid-column: 4 / 6;
}
.container .card:nth-child(7){
        grid-column: 1 / 5;
        grid-row: 3 / 6;
}
.container .card:nth-child(8){
        grid-column: 5 / 8;
}
.container .card:nth-child(9){
    grid-column: 5 / 7;
    grid-row: 4 / 7;
}
.container .card:nth-child(12){
    grid-column: 1 / 5;
    grid-row: 6 / 8;
}  
.container .card:nth-child(14){
    grid-column: 5 / 8;}

/* responive */
@media (max-width: 900px){
    body{
        min-height: 400vh;
    }
    .container{
grid-template-columns: repeat(1, 1fr);
grid-template-rows: 0,1fr 0.2fr 0.2fr 0.2fr 0.3fr 0.3fr 0.5fr 0.3fr 0.4fr 0.3 0.3 0.4 0.3 0.3;
    }
    .container .card{
       grid-row: unset !important;
       grid-column: unset !important; 
    }
}
.anim{
    opacity: 0;
    transform: translateY(30px);
     animation: moveup 0.5s linear forwards}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}